* {
    margin: 20px;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: blue;
    font-family: 'Verdana, sans-serif';
    font-size: 14px;
   
}


html { 
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


body {
    background: rgb(63, 178, 216);
  }

  a:link, a:visited{
    color: #1132a0;
  }



 p#side-note{
  position: absolute;
  bottom: 0;
}


.grandparent{  
  border: 4px solid darkblue;

  padding: 2px;
  background-color: transparent;
  float: left;
  margin-bottom: 2px;
  padding: 4px;
}

.grandmother{  
  border: 4px solid darkblue;

  padding: 2px;
  background-color: transparent;
  float: right;
  margin-bottom: 2px;
  padding: 4px;
}

 .parent{
  background-color:rgb(35, 87, 156);
 }

 .child{
  background: top;
  font-weight: 100;
  background-color: #ADD8E6;
 } 

  h1,h4, img#teamwork, p#intro,  #career_header{
  
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  button#github-link{
    float: right;
  }

  button#resume{
    float: left;
  }

  h1 {
    font-size: 6.25em;
    line-height: 1em;
    letter-spacing: .03em;
    margin-bottom: 2px;
  }
  
  h2 {
    font-size: 5.1em;
    line-height: 1em;
    letter-spacing: .03em;
    margin-bottom: 2px;
  }
  
  img {
    display: inline-block;
    margin: 0 40px;
  }

  img#teamwork{
    border: 4px solid darkblue;
    width: 50%;
  }


  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong#jae{
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

img#logo{
  width: 1.25%;
  height: auto;
  margin-top: 2%;
margin-right: 2%;
 position:fixed;
 bottom:5px;
 right:0%;
  }


